:root {
  --text-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --primary-color: #555555;
  --accent-color: #ff6c00;
  --subtitle-font-size: 11px;
  --background: #f7f7f7;

  --subtitle-dark-theme: rgba(157, 164, 189, 0.6);
  --subtitle-light-theme: #303030;
  --title-dark-theme: #ffffff;
  --title-light-theme: #303030;
  --description-dark-theme: #9da4bd;
}
body {
  font-family: var(--text-font);
  color: var(--primary-color);
  font-size: var(--subtitle-font-size);
}

/* =======RESET======= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
/* =======END RESET======= */

/* =======COMPONENTS======= */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  /* color: #FFFFFF; */

  min-width: 160px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 16px;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social-links {
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.social-links:hover,
.social-links:focus {
  color: var(--accent-color);
}

.title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title-dark-theme {
  color: var(--title-dark-theme);
}
.title-light-theme {
  color: var(--title-light-theme);
}

.subtitle {
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitle-dark-theme {
  color: var(--subtitle-dark-theme);
}
.subtitle-light-theme {
  color: var(--subtitle-light-theme);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.description-dark-theme {
  color: var(--description-dark-theme);
}
.description-light-theme {
  color: var(--primary-color);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section-padding {
  padding: 130px 0;
}
/* =======END COMPONENTS======= */

/* =======HEADER======= */
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}
.navigation-list-links {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}
.navigation-list-links:hover,
.navigation-list-links:focus {
  color: var(--accent-color);
}
.navigation-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */

  margin-left: auto;
  margin-right: 40px;
}
.navigation-tel:hover,
.navigation-tel:focus {
  color: var(--accent-color);
}
.logo {
  margin-right: 71px;
  padding: 32px 0;
}
/* =======END HEADER======= */

/* =======HERO======= */
.hero .container {
  display: flex;
}
.hero-list {
  display: flex;
}
.hero-list-item:not(:last-child) {
  margin-right: 40px;
}
.hero-left-side {
  width: 100px;
}
.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-top: 272px;
  padding-bottom: 205px;
}
.hero-right-side {
  background: url('../images/Slider.jpg');
}
.hero-list {
  background-color: #ffffff;
}
.main-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;

  margin-bottom: 20px;
}
.hero .description {
  max-width: 450px;
}

/* =======END HERO======= */

/* =======ABOUT======= */
.about .container {
  display: flex;
}
.about-list {
  display: flex;
}
.about-list-item:not(:last-child) {
  margin-right: 30px;
}
.about .title {
  margin-bottom: 20px;
}
.about .description {
  margin-bottom: 20px;
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  margin-bottom: 40px;
}
.about-left-site {
  margin-right: 32px;
}
.about-rigth-side {
  padding-left: 32px;
}
/* =======END ABOUT======= */

/* =======SERVICES======= */
.services-flex-container {
  display: flex;
  margin-bottom: 50px;
}
.services .title {
  margin-bottom: 44px;
}
.services-list-item {
  display: flex;
  justify-content: space-between;
}
.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.services {
  background: url('../images/services/bgc-services.jpg') no-repeat center;
}
.services .modal-btn {
  display: block;
  margin: 0 auto;
}
.services-left-side {
  padding: 30px 40px;
  width: 50%;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.services-rigth-side {
  padding: 30px 40px;
  width: 50%;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
/* =======END SERVICES======= */

/* =======ACHIEVEMENTS======= */
.achievements-flex-container {
  display: flex;
}
.achievements-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 370px;
}
.achievements-left-side {
  margin-right: 65px;
  padding-left: 100px;
}
.achievements-rigth-side {
  padding-left: 65px;
  max-width: 500px;
}
.achievements .title {
  margin-bottom: 20px;
}
.achievements-list-item {
  padding: 20px 21px;
  min-height: 134px;
  width: 170px;
  background: var(--background);
  text-align: center;
}
.achievements-list-item:nth-child(even) {
  margin-top: 30px;
}

.achievements-list-item:not(:nth-child(even)) {
  margin-right: 30px;
}

.achievements-list-counter {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
}
.achievements-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
/* =======END ACHIEVEMENTS======= */

/* =======MASTERS======= */
.masters .title {
  margin-bottom: 44px;
}
.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  text-align: center;
}
.masters-contct {
  padding: 30px 130px 77px;
}
.masters-list-item {
  margin: 15px;
}
.master-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: #303030;
}
.master-profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
.masters {
  background: var(--background);
}
/* =======END MASTERS======= */

/* =======GALLARY======= */
.gallary .subtitle {
  margin-bottom: 44px;
}
.gallary-list {
  display: flex;
  align-items: center;
  margin: -15px;
}
.gallary-list-item {
  width: calc((100% - 90px) / 4);
  margin: 15px;
}
/* =======END GALLARY======= */

/* =======FORM======= */
.form-container {
  min-width: 655px;
  padding-left: 56px;
}
.contact-form-section {
  background-color: #cccccc;
}
.form-flex-container {
  display: flex;
  justify-content: center;
}
/* =======END FORM======= */

/* =======CONTACTS======= */
.contacts-container {
  min-width: 625px;
  padding-left: 100px;
}
.contact-information {
  background-color: #191c26;
}
.contact-information .title {
  margin-bottom: 40px;
}
.address {
  width: 225px;
}
.contact-information-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.contact-information-list {
  margin-bottom: 70px;
}
.contact-information-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.white {
  color: #ffffff;
}
/* =======END CONTACTS======= */

/* =======FOOTER======= */
.footer {
  background-color: var(--background);
}
.copy {
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
  display: flex;
  align-items: center;
}
.footer-list-item:not(:last-child) {
  margin-right: 40px;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy {
  padding: 56px 0;
}
/* =======END FOOTER======= */
