.about-list {
  @extend %list;
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.about-list-item {
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 1280px) {
      margin-bottom: 0px;
      margin-left: 30px;
    }
  }
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  margin-bottom: 26px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 44px;
  }
}
.about-left-site {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 32px;
  }
}
.about-rigth-side {
  @media screen and (min-width: 768px) {
    padding-left: 15px;
    width: 50%;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 32px;
    max-width: 508px;
  }
}
