.contact-information {
  background-color: #191c26;
  margin: 0 auto;
  background-image: url('../images/form-contact/form-contact-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    background-image: url('../images/form-contact/form-contact-mobile@2x.png');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/form-contact/form-contact-tablet.png');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/form-contact/form-contact-tablet@2x.png');
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/form-contact/form-contact-desktop.png');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/form-contact/form-contact-desktop@2x.png');
  }

  @media screen and (min-width: 1280px) {
    min-width: 625px;
  }
}
.address {
  font-style: normal;

  @media screen and (min-width: 768px) {
    max-width: 270px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 100px;
  }
}
.contact-information-list-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.contact-information-list {
  @extend %list;
  margin-bottom: 44px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 0;
  }
}
.address-icon {
  position: absolute;
  top: 4px;
  left: 0;
}
.contact-information-list-link {
  @extend %link;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--description-dark-theme);

  margin-left: 40px;
}

.contact-flex-container {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
  }
}

.form-contacts-flex-container {
  @media screen and (min-width: 1280px) {
    display: flex;
    width: 1280px;
    margin: 0 auto;
  }
}
