.footer {
  background-color: var(--background);
}
.copy {
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
  @extend %list;
  display: flex;
  align-items: center;
}
.footer-list-item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-right: 15px;
    }
    margin-right: 40px;
  }
}
.copy {
  padding: 56px 0;
}
