.form-section {
  background-color: #191c26;
  padding: 130px 40px 193px 55px;
  min-width: 655px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.name-field,
.phone-field {
  min-width: 270px;
  height: 24px;

  color: #ffffff;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;

  transition: border-bottom 250ms linear;

  cursor: pointer;
}
.name-field {
  margin-right: 20px;
}
.name-field::placeholder,
.phone-field::placeholder,
.message::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
  transition: color 250ms linear;
}
.name-field:focus-within::placeholder,
.phone-field:focus-within::placeholder,
.message:focus-within::placeholder {
  color: #ffffff;
}
.name-field:focus-within,
.phone-field:focus-within,
.message:focus-within {
  border-bottom: 1px solid #ffffff;
}
.name-field:focus-within,
.phone-field:focus-within,
.message:focus-within {
  outline: none;
}

.message {
  width: 100%;
  height: 76px;

  resize: none;
  margin-bottom: 44px;

  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;

  color: #ffffff;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  transition: border-bottom 250ms linear;
  cursor: pointer;
}
