.form-section {
  background-color: #191c26;
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1280px) {
    min-width: 655px;
    padding-right: 40px;
    padding-bottom: 193px;
  }
}
.name-field,
.phone-field,
.message {
  height: 24px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    min-width: 330px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 265px;
  }

  color: var(--title-dark-theme);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;

  transition: border-bottom 250ms linear;

  cursor: pointer;

  &::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);
    transition: color 250ms linear;
  }

  &:focus-within::placeholder {
    color: var(--title-dark-theme);
  }

  &:focus-within {
    border-bottom: 1px solid var(--title-dark-theme);
    outline: none;
  }
}
.name-field {
  @media screen and (min-width: 768px) {
    margin-right: 27px;
  }
}

.message {
  width: 100%;
  height: 76px;
  resize: none;
}
