.header {
  position: absolute;
  width: 100%;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @extend %list;
  display: flex;
  align-items: center;
}
.navigation-list-item {
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 24px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 40px;
    }
  }
}
.navigation-list-links {
  @extend %link;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-dark-theme);

  padding: 52px 0;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation-tel {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @extend %link;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-dark-theme);

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: 40px;
    padding: 52px 0;
  }

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-tel-link-container {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
