@media screen and (max-width: 767px) {
  .burger-icon {
    width: 40px;
    height: 40px;
  }
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}
