@media screen and (max-width: 767px) {
  .hero {
    max-width: 100%;
    height: 580px;
    margin: 0 auto;
    background-image: linear-gradient(
        to right,
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url('../images/hero-image/hero-mobile.jpg');
    background-color: #3c4b7e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero-image/hero-mobile@2x.jpg');
    }
  }
}

.hero-right-side {
  @media screen and (min-width: 768px) {
    padding-left: 120px;
    padding-top: 272px;
    padding-bottom: 245px;
    max-width: 100%;
    height: 680px;
    flex-grow: 1;
    margin: 0 auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-image/hero-tablet.jpg');
    background-color: #3c4b7e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 786px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero-image/hero-tablet@2x.jpg');
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      height: 680px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero-image/hero-desktop.jpg');
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero-image/hero-desktop@2x.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    padding-left: 100px;
    padding-bottom: 206px;
  }
}

.hero-left-side {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  align-items: flex-end;
  width: 120px;
  padding: 0 0 40px 37px;

  @media screen and (min-width: 1280px) {
    width: 100px;
    padding: 0 0 40px 27px;
  }
}

.hero-list {
  @extend %list;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    transform-origin: left top;
    transform: rotate(-90deg);
  }
}
.hero-list-item {
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 40px;
    }
  }
}
.main-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.116;
  letter-spacing: 0.05em;
  color: var(--title-dark-theme);
  margin-bottom: 20px;

  animation-duration: 1500ms;

  @media screen and (min-width: 1280px) {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-thumb-text {
  max-width: 306px;
  @media screen and (min-width: 768px) {
    max-width: 355px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 425px;
  }
}
