.masters {
  background: var(--background);
}
.masters-list {
  @extend %list;
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    text-align: center;
  }
}
.masters-contct {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.masters-img {
  margin-bottom: 30px;
}
.masters-list-item {
  @media screen and (min-width: 1280px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 1279px) {
      margin-bottom: 64px;
    }
  }
}
.master-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: var(--title-light-theme);
  margin-bottom: 8px;
}
.master-profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  margin-bottom: 30px;
}
