.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.02em;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.666;
  }

  &-dark-theme {
    color: var(--description-dark-theme);
  }
  &-light-theme {
    color: var(--primary-color);
  }

  .about & {
    margin-bottom: 20px;
  }

  .services & {
    font-size: 14px;
    line-height: 2.14;
    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.666;
    }
  }

  .achievements & {
    font-size: 18px;
    line-height: 1.166;
    margin-bottom: 44px;
  }
}
