.title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.05em;

  &-dark-theme {
    color: var(--title-dark-theme);
  }
  &-light-theme {
    color: var(--title-light-theme);
  }

  .about & {
    margin-bottom: 20px;

    @media screen and (max-width: 1279px) {
      margin-right: 20px;
    }
  }

  .achievements &,
  .services &,
  .masters &,
  .form-section &,
  .contact-information & {
    font-size: 42px;
    line-height: 1.166;
    margin-bottom: 20px;
  }

  .services &,
  .masters &,
  .form-section & {
    margin-bottom: 44px;
  }

  .contact-information & {
    margin-bottom: 40px;
  }
}
