body {
  font-family: var(--text-font);
  color: var(--primary-color);
  font-size: var(--subtitle-font-size);
}

/* =======RESET======= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  display: block;
}
.section-padding {
  padding: 84px 0;

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 130px 0;
  }
}
