:root {
  --text-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --primary-color: #555555;
  --accent-color: #ff6c00;
  --subtitle-font-size: 11px;
  --background: #f7f7f7;

  --subtitle-dark-theme: rgba(157, 164, 189, 0.6);
  --subtitle-light-theme: #303030;
  --title-dark-theme: #ffffff;
  --title-light-theme: #303030;
  --description-dark-theme: #9da4bd;
}
